*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content{
    /*rem eh relativo a fonte*/
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #f6f8fc;
}
.img-logo img{
    width: 100%;
    height: auto;
}
/*Responsive*/
@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    
}


@media screen and (min-width: 380px){
    
    .img-logo img{
        width: 70%;
        height: auto;
    }
}
@media screen and (min-width: 576px){
    
    .img-logo img{
        width: 30%;
        height: auto;
    }
}
